# Visual Studio Code
/.vscode

# because of __pycache__
*.pyc

# latex file
*.aux
*.log
*.pdf
*.gz

# to only keep sample, withut all trash from latex
/sample
/output/output.tex
!/sample/sample.tex

# test
/tests/samplefiles/test_output.txt

# other
desktop.ini
output.tex
